.gradle/
.idea/
*.iml
build/
out/
.DS_Store
output/
input/

node_modules/

todo.txt
current-processing-status.txt
category-mappings/
category-schema/
public/bundle.js

src/main/kotlin/uk/co/endofhome/skrooge/scripts/MonzoClient.kt
src/main/javascript/c3-spike.js
src/test/resources/monzo-retail-output.txt
src/test/resources/decisions/
src/test/kotlin/approvals/uk/co/endofhome/skrooge/IndexTest.renders index page correctly.approved