<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <h1>Please review your monthly categorisations for {{currentBank}}</h1>
    <form action="/reports/categorisations" method="post">
        {{#each decisions}}
            <h3>{{line.date}}, {{line.purchase}}</h3>
        {{/each}}
        <input type="hidden" name="outstanding-banks" value="{{outstandingStatements}}">
        <div class="button">
            <button type="submit">Next bank</button>
        </div>
    </form>
</body>
</html>