<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link href="public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body id="body">
    <h1>S K R O O G E</h1>

    <h1>Upload your bank statements</h1>
    <div class="button">
        <button id="upload" type="submit">Upload statements</button>
    </div>
    <script type="text/javascript" src="public/formHack.js"></script>
</body>
</html>