<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body id="body">
    <h1>S K R O O G E</h1>

    <h1>Upload your bank statements</h1>
    <div class="button">
        <button id="upload" type="submit">Upload statements</button>
    </div>
    <script type="text/javascript" src="public/formHack.js"></script>
</body>
</html>