<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <script type="text/javascript" src="public/vendor/d3.min.js"></script>
    <script type="text/javascript" src="public/vendor/c3.min.js"></script>
    <link href="public/vendor/c3.min.css" rel="stylesheet" type="text/css">
    <link href="public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body id="body">
    <h1>S K R O O G E</h1>

    <h1><span class="month">{{month}}</span> <span class="year">{{year}}</span><span class="month-number" hidden>{{monthNumber}}</span></h1>

    <div id="aggregate-overview"></div>
    <div id="month-overview"></div>
    <div id="in-your-home"></div>
    <div id="insurance"></div>
    <div id="motoring-and-public-transport"></div>
    <div id="savings-and-investments"></div>
    <div id="family"></div>
    <div id="fun"></div>
    <div id="health-and-beauty"></div>
    <div id="clothes"></div>
    <div id="big-one-offs"></div>
    <div id="odds-and-sods"></div>
    <div id="refurbishments"></div>

    <script type="text/javascript" src="public/bundle.js"></script>
</body>
</html>
