<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
</head>
<body>
    <p>You need to categorise some transactions.</p>
    <p>{{vendors}}</p>
</body>
</html>